@charset "UTF-8";
body {
  background-color: var(--main-white-color);
  color: var(--title-color);
  font-family: "Roboto", "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

img {
  display: block;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  /*----TIMER-FOR-ANIMATIONS-IN-PROJECT----*/
  /*timer for all animations in project*/
  --animation-timer: cubic-bezier(0.4, 0, 0.2, 1);
  /*----------HEADER-VARS---------*/
  /*text color in nav */
  --nav-color: #212121;
  /*mail and tall color in footer and header */
  --mail-and-tell-color: #757575;
  /*first logo part in header and footer*/
  --first-logo-part: #2196f3;
  /*second logo part JUST in header */
  --second-logo-header-part: #212121;
  /* color for ALL hover and focus IN PROJECT */
  --accent-color: #2196f3;
  /*bottom line in header*/
  --header-bottom-line: 1px solid #ececec;
  /*-------HERO-AND-SOME-PROJECT-BUTTONS-----*/
  /*hero title*/
  --hero-title-color: #ffffff;
  /*buttons in hero and footer*/
  --hero-footer-buttons-bgcolor: #2196f3;
  /*hover and focus color for these bottuns */
  --hero-footer-buttons-hover-focus-color: #188ce8;
  /*text color in these buttons*/
  --text-bottons-color: #ffffff;
  /*hero and footer bg color */
  --hero-and-footer-bgcolor: #2f303a;
  /*------FIRST-SECTION-------*/
  /*title color IN PROJECT (without hero) */
  --title-color: #212121;
  /*description color */
  --first-section-descrip-cl: #757575;
  /*bg color for svg icon */
  --first-sec-svg-color: #f5f4fa;
  /*----------SECOND-SECTION---------*/
  /*img description color */
  --p-color-for-img-second-sec: #ffffff;
  /*-------------------THIRD-SECTION-----------*/
  /*bg color in section */
  --worders-bg-color: #f5f4fa;
  /*workers card bg color */
  --workers-card-bg-cl: #ffffff;
  /*------------FOOTER----------*/
  /*icon color, adreess color, h3 color */
  --footer-main-color: #ffffff;
  /*color of first logo part*/
  --first-logo-part: #2196f3;
  /*----------PORTFOLIO-----------*/
  /*buttom bg color in portfolio*/
  --filter-buttons-bg-cl: #f5f4fa;
  /*text buttons color in hover */
  --active-text-button-cl: #fff;
  /*color of description in card*/
  --description-color-in-card: #757575;
  /*porfolio overlay text */
  --overlay-text-color: #fff;
  /*--------------MODAL-WINDOW----------*/
  /*bg color in modal window */
  --modal-bg-color: #fff;
  /*text in modal window */
  --modal-text-cl: #757575;
}

/*----CONTAINER-SETINGS*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*-------------------HIDDEN-TITLES----------------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-container {
  padding: 10px 15px 48px 40px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  z-index: 999;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  font-size: 20px;
}

@media screen and (min-width: 767px) {
  .menu-container {
    display: none;
  }
}

.menu-open-btn,
.menu-close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 767px) {
  .menu-open-btn,
  .menu-close-btn {
    display: none;
  }
}

.menu-open-btn:hover,
.menu-close-btn:hover,
.menu-open-btn:focus,
.menu-close-btn:focus {
  fill: #2196f3;
}

.mob-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__tel {
  display: block;
  margin-bottom: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu__mail {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.mob-menu__social-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.mob-menu__pages-link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu__pages-item {
  position: relative;
}

.mob-menu__pages-item:not(:first-child)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -10px;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mob-menu__current-page {
  color: var(--accent-color);
}

/*-----HEADER-----*/
.page-header {
  border-bottom: var(--header-bottom-line);
  position: relative;
}

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.page-header__header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
  padding-right: 10px;
  position: relative;
  /*перевір це */
}

@media screen and (max-width: 767px) {
  .page-header__header-section {
    max-width: 767px;
  }
}

/*---LOGO---*/
.page-header__header-logo {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--first-logo-part);
}

.page-header__header-logo--black {
  color: var(--second-logo-header-part);
}

/*-----------------NAV-----------------*/
.page-header__site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .page-header__site-nav {
    margin-left: 93px;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--nav-color);
  -webkit-transition: color 250ms var(--animation-timer);
  transition: color 250ms var(--animation-timer);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__current-page {
  color: var(--accent-color);
}

.nav-list__current-page::after {
  position: absolute;
  content: "";
  bottom: 0px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/*---------------MAIL-AND-TEL+THEIR-ICON----------*/
/*---------MAIL-AND-TEL-------*/
.mail-and-tel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .mail-and-tel__list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .mail-and-tel__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 84px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .mail-and-tel__list .mail-and-tel__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .mail-and-tel__list .mail-and-tel__item:not(:last-child) {
    margin-right: 30px;
  }
}

.mail-and-tel__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mail-and-tell-color);
  -webkit-transition: color 250ms var(--animation-timer);
  transition: color 250ms var(--animation-timer);
}

.mail-and-tel__link:hover, .mail-and-tel__link:focus {
  color: var(--accent-color);
}

/*-----------iCON---------*/
.mail-and-tel__contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.filter {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .filter {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 479px) {
  .filter {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.filter__button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 40px;
  grid-gap: 8px;
  grid-row-gap: 15px;
}

@media (min-width: 768px) {
  .filter__button-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .filter__button-list {
    margin-bottom: 50px;
  }
}

.filter__button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-align: center;
  background-color: var(--filter-buttons-bg-cl);
  -webkit-transition: color 250ms var(--animation-timer), background-color 250ms var(--animation-timer), -webkit-box-shadow 250ms var(--animation-timer);
  transition: color 250ms var(--animation-timer), background-color 250ms var(--animation-timer), -webkit-box-shadow 250ms var(--animation-timer);
  transition: color 250ms var(--animation-timer), background-color 250ms var(--animation-timer), box-shadow 250ms var(--animation-timer);
  transition: color 250ms var(--animation-timer), background-color 250ms var(--animation-timer), box-shadow 250ms var(--animation-timer), -webkit-box-shadow 250ms var(--animation-timer);
}

.filter__button:hover, .filter__button:focus {
  background: var(--accent-color);
  color: var(--active-text-button-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*-------card-------*/
.filter__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  gap: 30px 30px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (min-width: 480px) {
  .filter__list {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media screen and (min-width: 768px) {
  .filter__list {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 1200px) {
  .filter__list {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

.filter__card {
  border-bottom: 1px solid #eeeeee;
}

.filter__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--animation-timer);
  transition: -webkit-box-shadow 250ms var(--animation-timer);
  transition: box-shadow 250ms var(--animation-timer);
  transition: box-shadow 250ms var(--animation-timer), -webkit-box-shadow 250ms var(--animation-timer);
}

.filter__link:hover, .filter__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter__card-box {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.filter__card-box-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.filter__card-box-text {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--description-color-in-card);
}

/*portfolio-overlay+shadow*/
.filter__overlay {
  position: relative;
  overflow: hidden;
}

.filter__overlay::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--animation-timer);
  transition: -webkit-transform 250ms var(--animation-timer);
  transition: transform 250ms var(--animation-timer);
  transition: transform 250ms var(--animation-timer), -webkit-transform 250ms var(--animation-timer);
  background-color: rgba(33, 150, 243, 0.9);
}

.filter__link:hover .filter__overlay::before,
.filter__link:focus .filter__overlay::before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.filter-card-link:hover,
.filter-card-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter__overlay-text {
  position: absolute;
  padding: 63px 24px;
  -webkit-transition: -webkit-transform 250ms var(--animation-timer);
  transition: -webkit-transform 250ms var(--animation-timer);
  transition: transform 250ms var(--animation-timer);
  transition: transform 250ms var(--animation-timer), -webkit-transform 250ms var(--animation-timer);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--overlay-text-color);
}

.filter__link:hover .filter__overlay-text,
.filter__link:focus .filter__overlay-text {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

/*------------------------------FOOOTER----------------------------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: var(--hero-and-footer-bgcolor);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__flex {
  display: block;
  margin: 0;
  padding: 0px;
  list-style: none;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 768px) {
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px 165px;
  }
}

@media (min-width: 1200px) {
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    gap: 70px;
  }
}

/*-----FOOTER-LOGO------*/
.footer__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--first-logo-part);
}

.footer__logo--white {
  color: var(--footer-main-color);
}

/*---ADRESS-TEL-MAIL----*/
.address {
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms var(--animation-timer);
  transition: color 250ms var(--animation-timer);
}

.address__link--white {
  color: var(--footer-main-color);
}

.address__link:focus, .address__link:hover {
  color: var(--accent-color);
}

/*--------MESSANGERS---------*/
.social-pages {
  display: block;
  margin-top: 60px;
}

@media (min-width: 768px) {
  .social-pages {
    margin-top: 0px;
  }
}

.social-pages__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--footer-main-color);
}

@media (min-width: 1200px) {
  .social-pages__title {
    text-align: left;
  }
}

.social-pages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-pages__item:not(:last-child) {
  margin-right: 10px;
}

.social-pages__icon {
  fill: var(--footer-main-color);
}

.social-pages__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--animation-timer);
  transition: background-color 250ms var(--animation-timer);
}

.social-pages__link:hover, .social-pages__link:focus {
  background-color: var(--accent-color);
}

/* -------MAIL-FORM -------*/
.mail-form {
  margin-top: 60px;
}

@media (min-width: 768px) {
  .mail-form {
    margin-top: 0px;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .mail-form {
    margin-left: 23px;
  }
}

@media (min-width: 1200px) {
  .mail-form__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mail-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--footer-main-color);
}

.mail-form__input {
  padding: 15px 16px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.6);
  background: var(--hero-and-footer-bgcolor);
  -webkit-transition: background-color 250ms var(--animation-timer);
  transition: background-color 250ms var(--animation-timer);
}

@media (min-width: 1200px) {
  .mail-form__input {
    width: 358px;
    margin-right: 12px;
  }
}

.mail-form__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 20px;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--text-bottons-color);
  background: var(--hero-footer-buttons-bgcolor);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms var(--animation-timer);
  transition: background-color 250ms var(--animation-timer);
}

.mail-form__button:focus, .mail-form__button:hover {
  background-color: var(--hero-footer-buttons-hover-focus-color);
}

@media (min-width: 1200px) {
  .mail-form__button {
    margin-top: 0px;
  }
}

.mail-form__button::after {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/hero-img-and-svg/icon-send-footer.svg);
}
/*# sourceMappingURL=portfolio.css.map */